/* 
    Created on : 11/01/2020, 10:41:53 PM
    Author     : Jose Luis Espiritu
*/
/*ESTILOS PARA PC ESCRITORIO*/
/*MENU*/
.ilbc-menu{
    border-bottom: deepskyblue solid 4px;
    background-color: white;
}

.ilbc-menu img{
    height: 60px; 
    width: auto;
    margin-left: 45px;
    margin-right: 25px;
}

.ilbc-container-principal{
    margin-top:80px;
}

.ilbc-container-nosotros{
    background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.ilbc-conatiner-footer{
    background-color: beige;
}

/*ESTILOS PARA DISPOSITIVOS MOVILES*/
@media only screen and (max-width: 960px) {
    /*MENU*/
    .ilbc-menu-items{
        text-align: center;
    }
    .ilbc-menu img{
        height: 50px; 
        width: auto;
        margin-left: 5px !important;
    }
    .ilbc-container-principal{
        margin-top: 80px !important;
    }
    .ilbc-form{
        display: none !important;
    }
    .ilbc-container-nosotros h2{
        margin-top: 15px !important;
    }
    .ilbc-container-nosotros img{
        width: 100px !important;
        height: 80px !important;
    }
    .ilbc-nosotros{
        text-align: justify !important;
        margin-top: 5px !important;
        margin-right: 5px !important;
        margin-left: 5px !important;
        margin-bottom: 30px !important;
    }
}